* {
    background-color: #212121;
    color: #fff;
    font-family: 'Verdana', sans-serif;
}

/* main content styling */

body h1 {
    text-align: justify;
    font-size: 40px;
    margin: 20px 0px;
    margin: 20px 0px;
    padding: 0px 20px;
}

body .education {
    text-align: justify;
    margin: 20px 0px;
    padding: 0px 20px;
}

body .about {
    text-align: justify;
    margin: 20px 0px;
    padding: 0px 20px;
}

body .skills {
    text-align: justify;
    margin: 20px 0px;
    padding: 0px 20px;
}

body .skills ul {
    list-style: none;
}