* {
    background-color: #212121;
    color: #fff;
    font-family: 'Verdana', sans-serif;
}

/* Main Content Styling */
body h1 {
    text-align: justify;
    font-size: 40px;
    margin: 20px 0px;
    padding: 0px 20px;
}

body ul {
    text-align: justify;
    font-size: 18px;
    margin: 25px 0px;
    padding: 0px 20px;
}

body h2 {
    text-align: justify;
    font-size: 30px;
    margin: 20px 0px;
    padding: 0px 20px;
}

body p {
    text-align: justify;
    font-size: 18px;
    margin: 20px 0px;
    padding: 0px 20px;
}